# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest / Coverage
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Data
data/

# Secret files (adjust with caution)
.env
*.env
secrets.json
